.nav-container{
    height: 60px;
    background-color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link Link{
    text-decoration: none;
    color: #000;
}